body{
  animation: example 5s linear 2s infinite alternate;
  color: white;
}


@keyframes example {
  0%   {background-color:rgb(94, 94, 94); }
  25%  {background-color:rgb(102, 102, 102);}
  50%  {background-color:rgb(80, 79, 79); }
  75%  {background-color:rgb(43, 43, 43); }
  100% {background-color:rgb(31, 31, 31); }
}

.btn-changeColor{
  background-color: grey;
  color: white;
}